/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*utilities*/
.container-1 {
  position: relative;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin: 0 auto;
}

body {
  background-color: #222222;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  font-size: 12px;
}

/*header*/
header {
  height: 70px;
  background-color: blanchedalmond;
  background-color: #000000;
  width: 98%;
  margin: 0 auto;
  text-align: right;
}

.header-menu {
  display: inline-block;
}

.header-menu ul {
  list-style: none;
}

.header-menu ul li {
  display:inline-block;
}

.header-menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

.menu-container {
  height: 24px;
  background-color: #4A4A4A;
  margin: 5px;
  padding: 5px;
}

/*main*/
main {
  height: calc(100vh - 150px);
  width: 98%;
  margin: 0 auto;
  background-color: #000000;
  overflow: scroll;
}

.box-repeat {
  position: relative;
  height: 140px;
  width: 240px;
  margin: 5px 2px;
}

.box-repeat .user {
  position: absolute;
  width: 40%;
  height: 15%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.185);
}

/*footer*/
footer {
  height: 80px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999999;
}

.footer-left nav ul, .footer-center nav ul {
  display: flex;
  list-style: none;
}

.footer-left nav ul li, .footer-center nav ul li {
  margin-left: 10px;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.icon-text {
  text-align: center;
}

.footer-left i, .footer-center i {
  font-size: 28px;
}

.chevron {
  display: flex;
}

.chevron i {
  font-size: 10px;  
}

.icon-text i {
  display: block;
}

.active {
  color: #2D7800;
}

.footer-right {
  height: 100%;
  background-color: #2C2C2C;
  cursor: pointer;
}

.footer-right span {
  color: #990017;
  line-height: 80px;
  padding: 0 20px;
}